# neo4j with simple python

#######################################################################<br/>
Script      : Demo python script for neo4j<br/>
Test Env    : MacOS Sierra & Python 3.x<br/>
Authors     : Nashihun Amien (nashihunamien@gmail.com) <br/>
How to      : Run neo4j - setup connection; include user pass - run script with your jupyter notebook <br/>########################################################################

Demo sederhana untuk penggunaan python dengan database neo4j

Demo ini menggunakan py2neo untuk library koneksi antar python dengan neo4j.
hal yang paling mendasar yang perlu diingat adalah koneksi ke database. 
Agar bisa digunakan dengan bahasa pemrograman tertentu, neo4j menggunakan protokol bolt untuk konektivitasnya.

In [7]:
from py2neo import Graph
graph = Graph("bolt://localhost:7687", auth=("neo4j", "Bismillah123!@"))

Gunakan perintah dibawah ini untuk melakukan wipe all semua data jika database sebelumnya ada informasi <i>dummy</i> nya

In [8]:
graph.delete_all()

Untuk inisialisasi dan pembuatan node kedalam neo4j bisa menggunakan <b>Node</b> dari <i>library</i> py2neo dan <b>graph.create</b> untuk <i>push</i> ke neo4j

In [9]:
from py2neo import Node

amien = Node("User", name="Amien", age=17)
cassandra = Node("User", name="Cassandra", age=20)
dian = Node("User", name="Dian", age=23)
lucky = Node("User", name="Lucky", age=30)
ichy = Node("User", name="Ichy", age=28)
bambang = Node("User", name="Bambang", age=50)
lulu = Node("User", name="Lulu", age=12)

tweet1 = Node("Tweet", name="Tweet 1")
tweet2 = Node("Tweet", name="Tweet 2")
tweet3 = Node("Tweet", name="Tweet 3")
tweet4 = Node("Tweet", name="Tweet 4")
tweet5 = Node("Tweet", name="Tweet 5")
tweet6 = Node("Tweet", name="Tweet 6")
tweet7 = Node("Tweet", name="Tweet 7")
tweet8 = Node("Tweet", name="Tweet 8")
tweet9 = Node("Tweet", name="Tweet 9")
tweet10 = Node("Tweet", name="Tweet 10")
tweet11 = Node("Tweet", name="Tweet 11")
tweet12 = Node("Tweet", name="Tweet 12")
tweet13 = Node("Tweet", name="Tweet 13")

hastag1 = Node("Hastag", name="Hastag1")
hastag2 = Node("Hastag", name="Hastag2")
hastag3 = Node("Hastag", name="Hastag3")
hastag4 = Node("Hastag", name="Hastag4")
hastag5 = Node("Hastag", name="Hastag5")
hastag6 = Node("Hastag", name="Hastag6")
hastag7 = Node("Hastag", name="Hastag7")
hastag8 = Node("Hastag", name="Hastag8")

graph.create(amien | cassandra | dian | lucky | ichy | bambang | lulu | tweet1 | tweet2 | tweet3 | tweet4 | tweet5 | tweet6 | tweet7| tweet8 | tweet9 | tweet10 | tweet11 | tweet12 | tweet13 | hastag1 | hastag2 | hastag3 | hastag4 | hastag5 | hastag6 | hastag7 | hastag8)

Kemudian gunakan <b>Relationship</b> untuk membangun hubungan antar node.<br/>
Tips: mending gambar dulu dikertas biar ga pusing pas awal-awal belajar inisialisasi datanya ;)

In [10]:
from py2neo import Relationship

graph.create(Relationship(amien, "FOLLOW", cassandra))
graph.create(Relationship(cassandra, "FOLLOW", amien))
graph.create(Relationship(cassandra, "FOLLOW", lulu))
graph.create(Relationship(ichy, "FOLLOW", amien))
graph.create(Relationship(ichy, "FOLLOW", bambang))
graph.create(Relationship(ichy, "FOLLOW", cassandra))
graph.create(Relationship(bambang, "FOLLOW", lulu))
graph.create(Relationship(bambang, "FOLLOW", dian))
graph.create(Relationship(lulu, "FOLLOW", lucky))
graph.create(Relationship(lucky, "FOLLOW", lulu))
graph.create(Relationship(lucky, "FOLLOW", dian))
graph.create(Relationship(lucky, "FOLLOW", cassandra))
graph.create(Relationship(dian, "FOLLOW", ichy))
graph.create(Relationship(dian, "FOLLOW", lulu))
graph.create(Relationship(dian, "FOLLOW", lucky))

graph.create(Relationship(amien, "TWEET", tweet1))
graph.create(Relationship(amien, "TWEET", tweet2))
graph.create(Relationship(ichy, "TWEET", tweet3))
graph.create(Relationship(bambang, "TWEET", tweet4))
graph.create(Relationship(bambang, "TWEET", tweet5))
graph.create(Relationship(bambang, "TWEET", tweet6))
graph.create(Relationship(dian, "TWEET", tweet7))
graph.create(Relationship(cassandra, "TWEET", tweet8))

graph.create(Relationship(cassandra, "RETWEET", tweet1))
graph.create(Relationship(cassandra, "RETWEET", tweet2))
graph.create(Relationship(cassandra, "RETWEET", tweet3))
graph.create(Relationship(cassandra, "RETWEET", tweet1))
graph.create(Relationship(dian, "RETWEET", tweet1))
graph.create(Relationship(ichy, "RETWEET", tweet1))
graph.create(Relationship(bambang, "RETWEET", tweet8))
graph.create(Relationship(bambang, "RETWEET", tweet3))
graph.create(Relationship(lulu, "RETWEET", tweet8))
graph.create(Relationship(lucky, "RETWEET", tweet6))
graph.create(Relationship(lucky, "RETWEET", tweet7))

graph.create(Relationship(tweet1, "WITH_HASTAG", hastag1))
graph.create(Relationship(tweet2, "WITH_HASTAG", hastag2))
graph.create(Relationship(tweet3, "WITH_HASTAG", hastag1))
graph.create(Relationship(tweet4, "WITH_HASTAG", hastag3))
graph.create(Relationship(tweet5, "WITH_HASTAG", hastag4))
graph.create(Relationship(tweet6, "WITH_HASTAG", hastag5))
graph.create(Relationship(tweet7, "WITH_HASTAG", hastag2))
graph.create(Relationship(tweet8, "WITH_HASTAG", hastag4))

Contoh penggunaan query neo4j di python dengan library py2neo

In [11]:
query = """
MATCH (user:User)-[:TWEET]->(posting:Tweet)
RETURN user.name AS username, posting.name AS tweet
"""

data = graph.run(query)

for d in data:
    print(d)

<Record username='Ichy' tweet='Tweet 3'>
<Record username='Dian' tweet='Tweet 7'>
<Record username='Bambang' tweet='Tweet 6'>
<Record username='Bambang' tweet='Tweet 5'>
<Record username='Bambang' tweet='Tweet 4'>
<Record username='Cassandra' tweet='Tweet 8'>
<Record username='Amien' tweet='Tweet 2'>
<Record username='Amien' tweet='Tweet 1'>

# Kombinasi dengan Pandas data frame

*uhuk masih error di bagian <b>%cypher</b> :'(

In [44]:
## load module chyper
%load_ext cypher

The cypher extension is already loaded. To reload it, use:
  %reload_ext cypher

In [ ]:
results = %cypher MATCH (user:User)-[:TWEET]->(posting:Tweet) \
                  RETURN user.name AS username, posting.name AS tweet
    
df = results.get_dataframe()
df